@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroylight.woff2") format("woff2");
  font-family: "Opensans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensanslight.woff2") format("woff2");
}

html {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.overlay-picture {
  position: absolute;
  left: calc(50% - 720px);
  width: 1440px;
  height: 2795px;

  /* background: url("../img/device-index.jpg") no-repeat 0 0; */
  /* background: url("../img/slide-2.jpg") no-repeat 0 0; */
  /* background: url("../img/slide-3.jpg") no-repeat 0 0; */
  background: url("../img/device-index-form.jpg") no-repeat 0 0;
  background-size: cover;
  z-index: 20;
  opacity: .4;
  filter: invert(100%);

}

.overlay-button {
  position: fixed;
  top: 70px;
  left: 20px;

  width: 100px;
  height: 50px;

  z-index: 20;
}

*, *::after, *::before {
  box-sizing: inherit;
}

 img {
   max-width: 100%;
 }

.visually-hidden {
  position: absolute;

  width: 1;
  height: 1;
  margin: -1;
  border: 0;
  padding: 0;
  overflow: hidden;

  clip: rect(0, 0, 0, 0);
}

.site-wraper {
}

.wraper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-header {
  min-height: 214px;
  padding: 15px 60px 0;
  background: linear-gradient(
    to bottom,
    transparent 40px,
    #f7e296 40px);
}

.page-header h1,
.page-footer h1 {
  margin: 0 0 11px -3px;

  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.5px;
}
.page-header a {
  text-decoration: none;
  color: #000000;
}

.page-header a:hover {
  outline: none;
  opacity: 0.6;
}
.page-header a:active {
  opacity: 0.3;
}

.page-header a:focus:not(:hover) {
  outline: 2px solid #000000;
  outline-offset: 2px;
  opacity: 0.6;
}

.page-navi,
.catalog-menu,
.footer-navi-user {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  text-transform: capitalize;
  letter-spacing: normal;
  font-weight: normal;
}

.search-user-wraper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 29px;
}

.user-navi {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: 100px;

  list-style: none;
}
.search-form {
  position: relative;
  display: flex;

  width: 440px;

  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
}

.search-form input,
.search-form button {
  padding: 7.5px 20px;

  font: inherit;

  background-color: transparent;
  border-color: transparent;
}

.search-form input {
  flex-grow: 1;
  padding: 9.5px 20px 9.5px 37px;
  border: none;

}

.search-form label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 3px;


  width: 16px;
  height: 16px;
  background: url("../img/search.svg");
}
.search-form input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form button {
  visibility: hidden;
  border-color: #000000;

  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  visibility: visible;
  color: #ffffff;

  background-color: #000000;
}

.search-form button:active span {
  opacity: 0.3;
}

.search-form input:focus {
  box-shadow: inset 0 -2px 0 #000000;
  outline: none;
}

.search-form:hover input::placeholder,
.search-form input:focus::placeholder {
  opacity: 0.6;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url("../img/close-cross.svg");
  background-size: contain;
  cursor: pointer;
}


.search-form input:focus + button {
  visibility: visible;
}

.user-navi {
  display: flex;
  flex-wrap: wrap;

  width: 500px;
  padding: 0;
}
.user-navi-item {
  position: relative;

  flex-basis: 100px;
  padding: 9.5px 0;
}
.compare {
  margin-left: auto;
}

.user-navi-item:nth-child(3n) {
  margin-left: 20px;
  text-align: right;
}
.user-navi a {
  padding-left: 26px;

  font-weight: 400;
}

.user-navi-item a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;

  width: 13px;
  height: 12px;

  background: url("../img/user.svg") no-repeat 0 0;
}

.compare a::before {
  left: 4px;

  background-image: url("../img/compare.svg");
  background-position: top 2px left 3px;
}

.cart a::before {
  left: 17px;

  background-image: url("../img/cart.svg");
}

.catalog-shortcuts-wraper {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.navi-catalog-button {
  position: relative;
  flex-basis: 300px;
  z-index: 3;
}

.plus {
  position: absolute;
  left: 230px;
  top: 4px;

  width:16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  opacity: 0.3;
}

.navi-shortcuts {
  display: flex;
  flex-wrap: wrap;

  flex-grow: 1;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 240px;
}

.navi-shortcuts li {
  flex-basis: 158px;
}

.navi-shortcuts li:nth-child(3n) {
  margin-left: auto;

  text-align: right;
}

.navi-shortcuts li:nth-child(3n) a {
  margin-right: -3px;
}

.catalog-menu {
  visibility: hidden;
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  order: 2;

  width: calc(100% + 120px);
  margin: 0 -60px;
  padding: 25px 60px 30px;

  background-color: #f7e296;
  transition: visibility 0.02s
}

.navi-catalog-button:hover ~ .catalog-menu,
.navi-catalog-button:focus ~ .catalog-menu,
.catalog-menu:hover {
  visibility: visible !important;
}

.catalog-menu-group {
  list-style: none;
  flex-basis: 200px;

  padding: 0;
  margin: 0;
}

.catalog-group-1 {
  flex-basis: 240px;
}


.catalog-menu a {
  line-height: 36px;
  text-transform: none;
}

.promo-slider {
  position: relative;

  background: linear-gradient(#f7e296 125px, transparent 125px)
}

.item-page-link {
  transition: transform 0.3s
}

.item-page-link:focus,
.item-page-link:hover {
  outline: none;
  transform: scale(1.15)
}

.promo-slider-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  z-index: 10;

  right: 83px;
  top: 341px;

  min-width: 78px;
  max-width: 180px;
}

.promo-slider-controls label {
  position: relative;
  height: 12px;
  width: 12px;
  margin-left: 21px;

  background: url("../img/slider-button-empty.svg");
  background-size: contain;
}

.promo-slider-controls label:nth-of-type(1) {
  margin-left: 0;
}

.promo-slider-controls label::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 12px;
  height: 12px;

  background: url("../img/slider-button.svg");
  background-size: contain;
  /* border-radius: 50%; */
}

.promo-slider input:focus ~ .promo-slider-controls:not(:hover) {
  outline:  2px solid #000000;
  outline-offset: 3px;
}


.promo-slides-container {
  min-height: 511px;
  margin: 0;
  margin-bottom: 95px;
  padding: 0;

  list-style: none;
}

#promo-slide-btn-1:checked ~ .promo-slider-controls
 label[for="promo-slide-btn-1"]::after {
   display: block;
}

#promo-slide-btn-2:checked ~ .promo-slider-controls
  label[for="promo-slide-btn-2"]::after {
    display: block;
}

#promo-slide-btn-3:checked ~ .promo-slider-controls
  label[for="promo-slide-btn-3"]::after {
  display: block;
}

.promo-slide {
  display: none;

  min-height: 511px;
}
.showing {
  display: flex;
}

#promo-slide-btn-1:checked ~ .promo-slides-container
.promo-slide-1 {
  display: flex;
}

#promo-slide-btn-2:checked ~ .promo-slides-container
.promo-slide-2 {
  display: flex;
}

#promo-slide-btn-3:checked ~ .promo-slides-container
.promo-slide-3 {
  display: flex;
}

.promo-slide > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 580px;
}

.promo-slide-1 img {
  transform: translate(-8px, 1px);
}

.promo-slide-2 img {
  transform: translate(-1px, 13px);
}

.promo-slide-3 img {
  transform: translate(4px, -9px);
}

.promo-slide-description {
  position: relative;
  width: 580px;
  padding: 93px 60px 0 19px;

  z-index: 1;
}

.promo-slide-description::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 51px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slide-number {
  position: absolute;
  z-index: 1;
  right: 46.5px;
  top: 0;

  margin: 0;

  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 2px;
}

.slide-slogan {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-bottom: 20px;
  margin-right: -20px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.75px;
}

.slide-slogan ~ p {
  margin: 0;
  padding-right: 20px;

  font-family: "Opensans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  letter-spacing: -0.15px;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;

  background:
  linear-gradient(transparent 16px,
    #f0c52e 16px,
    #f0c52e 24px,
    transparent 24px);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #f0c52e;
  outline: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3)
}

.item-page-button {
  margin: 42px 0 50px 1px;
}
.promo-slide-specification {
  border-collapse: collapse;
}
.promo-slide-specification td {
  min-width: 160px;

  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.1px;
  text-align: left;
}

.promo-slide-specification td:nth-child(2n) {
  min-width: 140px;
}
.parameter-names th {
  font-family: "Opensans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: left;

  border-top: 5px solid transparent;
}

.popular-categories-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-left: -40px;
  margin-bottom: 80px;
  width: calc(100% + 40px);

  list-style: none;
}

.popular-categories-item {
  width: 160px;
  margin-left: 40px;
}

.popular-categories-item a {
  display: block;
  position: relative;
  padding: 194px 0 0;
  font: inherit;
  color: inherit;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 0.1px;
}
.popular-categories-item:first-child a {
  letter-spacing: 0.4px;
}

.popular-categories-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 160px;

  background: #f7e296
}

.popular-categories-item a:focus {
  outline: none;
}

.popular-categories-item a:hover::before,
.popular-categories-item a:focus::before {
  background: #f0c52e;
}

.popular-categories-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 160px;
  background: no-repeat 50%;
}

.popular-categories-item:nth-child(1) a::after {
  background-image: url("../img/popular-1.svg");
}

.popular-categories-item:nth-child(2) a::after {
  background-image: url("../img/popular-2.svg");
  background-position: 38.5px 41px
}

.popular-categories-item:nth-child(3) a::after {
  background-image: url("../img/popular-3.svg");
  background-position: calc(50% + 4.5px) calc(50% + 1.5px);
}

.popular-categories-item:nth-child(4) a::after {
  background-image: url("../img/popular-4.svg");
  background-position: calc(50% + 2px) calc(50% + 3px);
}

.popular-categories-item:nth-child(5) a::after {
  background-image: url("../img/popular-5.png");
  background-position: calc(50% + 2.5px) calc(50% + .5px);
}

.popular-categories-item:nth-child(6) a::after {
  background-image: url("../img/popular-6.png");
  background-position: calc(50% - 1px) calc(50% + 3px);
}

.popular-categories-item a:active span,
.popular-categories-item a:active::after {
  opacity: 0.3
}

.services {
  background: linear-gradient(transparent 100px, #e5e5e5 100px)
}
.services-slider {
  display: flex;
  min-height: 388px;
  padding-top: 80px;
  margin-bottom: 94px;
}

.services-slider ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-controls {
  position: relative;

}

.services-slider-controls li {
  min-width: 280px;
}

.services-slider-controls::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -4px;

  width: 7px;
  height: 319px;

  background: #000000;
}

.service-button {
  position: relative;
  min-width: 160px;
  margin-bottom: 24px;
  padding: 8px 20px;

  text-align: center;
  letter-spacing: 3.8px;
  border: none;
}

.service-button[for="service-button-1"] {
  padding: 8px 0px;
}

.service-button[for="service-button-2"] {
  padding-left: 24px;
  margin-bottom: 25px;
}

.service-button[for="service-button-3"] {
  padding-left: 23px;
}

#service-button-1:checked + .service-button[for="service-button-1"],
#service-button-2:checked + .service-button[for="service-button-2"],
#service-button-3:checked + .service-button[for="service-button-3"] {
  color: #f7e184;
  background: #000000;
}

.service-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;

  width: 118px;
  height: 100%;
}

#service-button-1:checked + .service-button[for="service-button-1"]::after,
#service-button-2:checked + .service-button[for="service-button-2"]::after,
#service-button-3:checked + .service-button[for="service-button-3"]::after {
  background: #000000;
}

#services-delivery-btn:focus ~ ul .service-button:nth-child(1),
#services-warranty-btn:focus ~ ul .service-button:nth-child(2),
#services-credit-btn:focus ~ ul .service-button:nth-child(3) {
  background: #f0c52e;
  outline: 0;
}

.services-slide {
  position: absolute;
  visibility: hidden;
  padding-left: 120px;
}

.services-slide h3 {
  margin: 0;
  margin-top: -7px;
  margin-bottom: 32px;
  padding-left: 1px;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
}

.services-slide p {
  padding-right: 340px;
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.services-slide-visible {
  visibility: visible;
}

.services-slide-1::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 86px;

  width: 136px;
  height: 164px;

  background: url("../img/delivery.svg") no-repeat 0 0;
  background-size: contain;
}

.services-slide-2::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 67px;

  width: 171px;
  height: 194px;

  background: url("../img/warranty.svg") no-repeat 0 0;
  background-size: contain;
}

.services-slide-3::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 90px;

  width: 156px;
  height: 186px;

  background: url("../img/credit.svg") no-repeat 0 0;
  background-size: contain;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-bottom: 93px;
  padding: 0;
}

.brands-list-item a{
 position: relative;
 display: block;
 width: 260px;
 height: 100px;
}

.brands-list-item img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.brands-list-item:hover img,
.brands-list-item a:focus img {
  display: block;
}

.brands-list-item a:focus {
  outline: none;
}
.brands-list-item a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "";

  width: 260px;
  height: 100px;
}

.brands-list-item:nth-child(1) a::before {
  background: url("../img/logo-1g.png")
}

.brands-list-item:nth-child(2) a::before {
  background: url("../img/logo-2g.png")
}

.brands-list-item:nth-child(3) a::before {
  background: url("../img/logo-3g.png")
}

.brands-list-item:nth-child(4) a::before {
  background: url("../img/logo-4g.png")
}

.info-wraper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.info-wraper section {
  position: relative;
  flex-basis: 600px;
  padding: 0 18px;
}

.info-wraper section::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.info-wraper h2 {
  margin: 52px 0 43px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing:  0.5px;
}

.info-wraper p {
  margin: 0;
  margin-bottom: 31px;
  padding-right: 100px;

  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.info p:nth-of-type(2) {
  letter-spacing: -.5px
}

.contacts p:nth-of-type(1) {
  padding-right: 40px;
  margin-bottom: 40px;
}

.info-wraper ul {
  margin-top: 66px;
  margin-bottom: 55px;
  padding-left: 37px;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.2px;
  list-style: none;
}

.info-wraper li {
  position: relative;
}

.info-wraper li::before {
  position: absolute;
  content: "";
  left: -34px;
  top: 16px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts-map {
  display: block;
  height: 222px;
  width: 560px;
  margin-left: 2px;
  margin-bottom: 69px;
}

.info-page-button {
  padding: 8px 23px;
  padding-right: 18px;
}

.contacts-page-button {
  padding: 8px 40px;
  padding-right: 37px;
}

.info-wraper .button {
  margin-left: 2px;
  letter-spacing: 3.7px;
  margin-bottom: 81.5px;
}

.page-footer {
  padding-top: 60px;
  background: #464646;
}

.footer-navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 11px;
}

.footer-navi h1 a{
  color: #ffc600;
  opacity: 1
}

.footer-navi h1 a:hover,
.footer-navi h1 a:focus {
  opacity: 0.6;
}

.footer-navi h1 a:active {
  opacity: 0.3;
}

.footer-navi-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  padding: 0;
  justify-content: flex-end;

  list-style: none;
}

.footer-navi-user-link {
  position: relative;
  padding-left: 26px;
}

.footer-navi-user li {
  position: relative;
  padding: 3px 0;
  margin-left: 36px;
}

.page-footer a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.6;
}

.page-footer a:focus:not(:hover) {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
  opacity: 1;
}

.page-footer a:hover {
  opacity: 1;
}


.page-footer a:active {
  opacity: 0.3;
}

.footer-cart-link {
  letter-spacing: -0.4px;
}

.footer-navi-user li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;

  width: 13px;
  height: 12px;

  background: url("../img/user-f.svg") no-repeat 0 0;
}

.footer-navi-user li:hover::before {
  opacity: 0.6;
}

.footer-navi-user li:active::before {
  opacity: 0.3;
}

.footer-navi-user li:nth-child(2)::before {
  top: 14.5px;
  left: 6px;

  background: url("../img/compare-f.svg") no-repeat 0 0;
}

.footer-navi-user li:nth-child(3)::before {
  top: 13px;
  left: 4px;

  background: url("../img/cart-f.svg") no-repeat 0 0;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;

  margin-bottom: 55px;
}

.footer-info p {
  flex-basis: 360px;
  margin: 0;
  font-size: 15px;
  font-family: "Opensans", Arial, sans-serif;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.footer-info p:last-child {
  letter-spacing: -0.1px;
  text-align: right;
}

.footer-info-services {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.footer-info-services a {
  display: block;
  padding: 7px 8px;

  text-transform: uppercase;
  letter-spacing: 3.6px;
  opacity: 1;
  font-weight: 900;
}

.footer-info-services a:hover,
.footer-info-services a:focus {
  opacity: 0.6;
}

.footer-info-services a:active {
  opacity: 0.3;
}

.footer-social-copyright {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.footer-social-copyright::before {
  content: "";
  position: absolute;
  top: 14px;
  width: 80px;
  height: 7px;
  background-color: #ffc600
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 400px;
  justify-content: center;
  margin: 0;
  margin-left: 380px;
  padding: 0;
  list-style: none;

}

.footer-social a {
  display: block;
  width: 32px;
  margin: 0 11px;
  margin-bottom: 68px;
  height: 32px;

  background: url("../img/fb.svg") no-repeat 0 0;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.3
}

.footer-social a:active {
  opacity: 0.1;
}

a.inst-link {
  background-image: url("../img/ins.svg")
}

a.tw-link {
  background-image: url("../img/tw.svg")
}

.footer-copyright {
  margin-left: auto;
}

.footer-copyright a {
  display: block;

  height: 35px;
  width: 27px;
  background: url("../img/logo-html.svg") no-repeat 0 0;
  background-size: contain;

  opacity: 1;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}

.modal {
  display: none;
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0 , 0, 0.2)
}

.visible {
  display: block;
}
.modal-wraper {
  position: fixed;
  z-index: 15;
  top: calc(50% - 300px);
  left: calc(50% - 480px);

  padding: 93px 100px 77px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 900;

  background: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.show-popup {
  animation: popup 0.5s
}

@keyframes popup {
  from {
    transform: translateX(-2000px);
  }
  80% {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 34px;
}

.feedback-form label {
  display: block;
  margin: 0;
  margin-bottom: 7px;
}


p.feedback-email-info {
  margin-left: auto;
}

.feedback-letter-info {
  flex-basis: 760px;
}

.feedback-letter-info label {
  letter-spacing: 0.2px;
}

.feedback-form input,
.feedback-form textarea {
  width: 360px;
  padding: 16px 20px;

  font-family: "Opensans", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  background: #f2f2f2;
}

.feedback-form textarea {
  width: 760px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background: #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background: #ffffff;
  outline: 3px solid #f0c52e
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background: #f6dada;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background: url("../img/modal-close.svg") no-repeat 0 0;
  background-size: contain;
  border: none;
  opacity: 0.5;

  cursor: pointer;
}

.modal-close:focus,
.modal-close:hover {
  opacity: 1;
  outline: none;
}

.modal-close:active {
  opacity: 0.3;
}

.feedback-button {
  border: none;
  padding: 8px 32px;
}

.modal-map-wraper {
  position: fixed;
  z-index: 15;
  top: calc(50% - 300px);
  left: calc(50% - 480px);

  height: 559px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  transform-origin: right center;
}

.modal-map-wraper iframe {
  position: absolute;
}

.show-map {
  animation: map-scale 0.5s
}

@keyframes map-scale {
  from {
    transform: scale(0.25);
  }
  to {
    transform: scale(1);
  }
}
